<div style="margin-bottom: 15px;">
  <h4 style="margin-bottom: 0px;">Select an API...</h4>
  <span>...to, manage API <span class="purple">keys</span> and <span class="purple">monitor</span> usage</span>
</div>
<div class="row">
  <div class="column">
    <div style="min-height: 50px;" class="well">
        <rapi-record *ngFor="let rec of records" (onAPISelection)="onRecordSelection($event)" [record]="rec"></rapi-record>
    </div>
  </div>
  <div class="column">
    <button (click)="add()">Add API</button>
  </div>
</div>
