<div *ngIf="keys.length > 0; else nokeys">
    <table>
        <tr>
          <th *ngFor="let c of columns">{{c}}</th>
        </tr>
        <tbody>
          <tr *ngFor="let key of keys">
            <td>
              {{key.friendlyName}}
            </td>
            <td>
              <code>{{key.key}}</code>
            </td>
            <td>
              <span style="font-size: 0.8em;" class="pill" *ngFor="let s of key.scope">{{s}}</span>
            </td>
            <td>
              {{key.createdAt | date}}
            </td>
            <td>
              <button id="edit-btn" class="button-small button-outline action">Edit</button>
              <button id="delete-btn" class="button-small action btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<ng-template #nokeys>
  <h4>No API Keys have been created yet</h4>
</ng-template>
