<h4>Add Experience</h4>
<div mat-dialog-content>
    <form [formGroup]="experienceForm">
        <fieldset>
          <div style="width: 40%" class="formControl">
            <label for="company">Company</label>
            <input formControlName="company" id="company" type="text"/>
          </div>
          <div style="width: 40%" class="formControl inline">
              <label for="title">Job Title</label>
              <input formControlName="title" id="title" type="text"/>
          </div>
          <div style="width: 40%; margin-left: 10px;" class="formControl inline">
              <rapi-toggle (toggle)="onToggle($event)" [checked]="currentCompany"></rapi-toggle>
              <span *ngIf="currentCompany" style="font-size: 0.9em; padding: 2px; color: #62738d">I currently work at this company</span>
              <span *ngIf="!currentCompany" style="font-size: 0.9em; padding: 2px; color: #62738d">I do not work here anymore</span>

          </div>
          <fieldset>
              <div style="width: 40%" class="formControl inline">
                  <label for="startDate">Start Date</label>
                  <input formControlName="startDate" style="width:70%" id="startDate" type="text" [matDatepicker]="pickerStart" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
              </div>
              <div *ngIf="!currentCompany" style="width: 40%;" class="formControl inline">
                  <label for="endDate">End Date</label>
                  <input formControlName="endDate" style="width:70%" id="endDate" type="text" [matDatepicker]="pickerEnd" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
              </div>
          </fieldset>
        </fieldset>
          <fieldset *ngIf="accomplishments.length === 0; else showAccomplishments">
            <h6>Accomplishments / Responsibilities <span style="font-size: 0.7em; color:#62738d ">(list your bullet points with '*')</span></h6>
            <textarea formControlName="accomplishments" name="accomplishments" id="accomplishments" cols="30" rows="10"></textarea>
          </fieldset>
      </form>
</div>
<div mat-dialog-actions>
  <button>Save</button>
</div>

<ng-template #showAccomplishments>
  <ul>
    <li *ngFor="let acc of accomplishments">{{acc}}</li>
  </ul>
</ng-template>
