<rp-setup-container>
    <h1 rapi-setup-header>Skills / Technologies</h1>
    <div rapi-setup-body>
      <div class="formControl">
        <label for="skill">Add</label>
        <input [(ngModel)]="currentSkill" name="skill" id="skill" type="text">
      </div>
      <div style="width: 100%;">
        <rapi-chip *ngFor="let skill of skills; index as i" [value]="skill" (click)="remove(i)"></rapi-chip>
      </div>
    </div>
    <div [align]="'between'" rapi-setup-actions>
      <button class="button-outline" (click)="previous()">Previous</button>
      <button (click)="submit()">Submit</button>
    </div>
  </rp-setup-container>
  

