:host {
    width: 100%;
}

#name span {
    display: block;
    font-size: 0.9em;
}

#name span:nth-child(1) {
    font-weight: 400;
}

#name span:nth-child(2) {
    color: #96A3B6;
}

ul li {
    color: #61467f;
}

ul li:hover {
    background-color: #F7F8FB;
}