<div class="popup">
  <ul style="width: 100%;" class="list">
    <li class="grey-border bottom" style="height: 100px;">
      <div id="name" style="width: 100%; padding-top: 30px; text-align: center;">
        <span>{{name}}</span>
        <span>{{email}}</span>
      </div>
    </li>
    <li *ngIf="selectedAPI" class="grey-border bottom" style="height: 40px;;">
      <div style="padding: 7px;" class="flex row">
        <mat-icon>apps</mat-icon>
        <a class="iconlink" (click)="dismiss()" routerLink="home/dashboard">Dashboard</a>
      </div>
    </li>
    <li style="height: 40px;">
      <div style="padding: 7px" class="flex row">
        <mat-icon>arrow_forward</mat-icon> 
        <a class="iconlink" (click)="dismiss()" routerLink="auth/login">Sign Out</a>
      </div>
      
    </li>
  </ul>
</div>
