#main-nav a {
    margin: 0 10px 0 10px;
    display: inline-block;
    height: 30px;
    color: #62738d;
    font-size: 0.9em;
}

#main-nav a:hover {
    border-bottom: 1.1px solid rgba(98, 115, 141, 0.3)
}

#main-nav a.active {
    color: #9b4dca;
    border-bottom: 1.1px solid #9b4dca;
}


.flex {
    display: flex;
}

.flex.between {
    justify-content: space-between;
}
.flex.end {
    justify-content: flex-end;
}

mat-icon {
    font-size: 25px;
    line-height: 25px;
}
mat-icon.white {
    color: white;
}

#profile {
    border-radius: 100%;
    background-color: rgba(215, 215, 215, 1);
    height: 28px;
    width: 28px;
    text-align: center;
    cursor: pointer;
}

#profile:hover {
    background-color: rgba(215, 215, 215, 0.75)
}