<nav class="flex" id="main-nav" style="padding: 15px; padding-bottom: 0px; border-bottom: 1px solid #e7ebf3;">
    <div>
        <a routerLinkActive="active" routerLink="setup">My Resume</a>
        <a routerLinkActive="active" routerLink="keys">Manage</a>
        <a routerLinkActive="active" routerLink="try">Access</a>
        <a routerLinkActive="active" routerLink="try">Metrics</a>
    </div>
    <div>
        <div id="profile">
            <mat-icon class="white" aria-hidden="false" aria-label="profile">person</mat-icon>
        </div>
    </div>
</nav>`