<nav class="flex between" id="main-nav" style="padding: 15px; padding-bottom: 0px; border-bottom: 1px solid #e7ebf3;">
    <div>
        <!-- <a routerLinkActive="active" routerLink="setup">My Resume</a> -->
        <a routerLinkActive="active" routerLink="manage">Manage</a>
        <a routerLinkActive="active" routerLink="keys">Access</a>
        <a routerLinkActive="active" routerLink="metrics">Metrics</a>
    </div>
    <div style="min-width: 200px;" #profile class="flex end">
        <div><span class="purple" style="padding: 0 5px 0 5px" *ngIf="selectedAPI">{{selectedAPI.id}}</span></div>
        <div  id="profile">
            <mat-icon (click)="openMenu()" class="white" aria-hidden="false" aria-label="profile">person</mat-icon>
        </div>
        
    </div>
</nav>`