
#login-btn {
    width: 150px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.between {
    justify-content: space-between;
}

.center {
    text-align: center;
}