html, body { height: 100%; }

body {
    margin: 0;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.formControl.inline {
    display: inline-block;
}
.formControl label {
    font-weight: 300
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

button {
    background-color: #a16eff;
    border-color: #a16eff
}

button:hover {
    background-color: rgba(155, 77, 202, 0.85);
    border-color: rgba(155, 77, 202, 0.85);
}

.purple-background {
    background-image: linear-gradient(to bottom,#654a86,#534292);
    background-color: #534292;
}

.hoverable:hover {
    background-color: rgba(215, 215, 215, 0.25);
}

.clickable:hover {
    cursor: pointer;
}
