html, body { height: 100%; }

body {
    margin: 0;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.formControl.inline {
    display: inline-block;
}
.formControl label {
    font-weight: 300
}
