html, body { height: 100%; }

body {
    margin: 0;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.formControl.inline {
    display: inline-block;
}
.formControl label {
    font-weight: 300
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

button {
    background-color: #a16eff;
    border-color: #a16eff
}

button:hover {
    background-color: rgba(155, 77, 202, 0.85);
    border-color: rgba(155, 77, 202, 0.85);
}

.purple-background {
    background-image: linear-gradient(to bottom,#654a86,#534292);
    background-color: #534292;
}

.hoverable:hover {
    background-color: rgba(215, 215, 215, 0.25);
}

.clickable:hover {
    cursor: pointer;
}

.well {
    background-color: rgb(247, 248, 251);
    border-radius: 2px;
    border:1px solid #e7ebf3;
    padding: 10px;
}

.purple {
    color: #9b4dca;
}

.dark-backdrop {
    background: #000000;
    opacity: 0.3;
}

.popup-container {
    box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);
    background-color: white;
    min-width: 200px;
}

.popup {
    width: 100%;
}

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-row {
    flex-direction: row;
}

.list {
    list-style: none;
    margin: 0;
}

.list li {
    margin: 0;
}

.grey-border {
    border: thin solid #e7ebf3;
}

.grey-border.bottom {
    border-top: none;
    border-left: none;
    border-right: none;
}