<rp-setup-container>
    <h1 rapi-setup-header>Projects</h1>
    <div rapi-setup-body>
      <div style="margin-bottom: 20px;" *ngIf="projects.length > 0">
        <mat-list>
            <div *ngFor="let proj of projects; index as i">
              <mat-list-item>
                <div style="display: flex; justify-content: space-between; width: 100%;">
                  <div>
                    <span>{{proj.title}}</span>
                  </div>
                  <button (click)="edit(proj, i)" class="button-outline button-small">Edit</button>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
            </mat-list>
      </div>
      <button class="button-small" (click)="add()">Add</button>
    </div>
    <div [align]="'between'" rapi-setup-actions>
      <button class="button-outline" (click)="previous()">Previous</button>
      <button (click)="next()">Next</button>
    </div>
  </rp-setup-container>
  
